<form [formGroup]="formulario"  (ngSubmit)="Crear()">
<div id="inputs">
    <mat-form-field appearance="fill" class="inputs">
        <mat-label>Título</mat-label>
        <input formControlName="titulo" matInput placeholder="Nota">
      </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill" class="inputs">
        <mat-label>Estado</mat-label>
        <select formControlName="estado" id="estadoSeleccionado" matNativeControl>
          <option hidden disabled selected>Select</option>
          <option value="abierto">Abierto</option>
          <option value="enProceso">En proceso</option>
          <option value="cerrado">Cerrado</option>
        </select>
      </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill" class="inputs">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="descripcion" matInput placeholder="Descripción"></textarea>
      </mat-form-field>
</div>
<br>
<br>
<div id="botones">
   <button mat-stroked-button  type="submit">Actualizar</button> 
</div>

</form>